@font-face {
  font-family: 'Archive';
  src:  url('/assets/fonts/Archive.woff2') format('woff2'),
        url('/assets/fonts/Archive.woff') format('woff');
}

body {
  font-size: 2.0em;
  letter-spacing: 0.01em;
  background: $darker-grey;
  font-weight: 300;
}

.no-touch a:hover {
  text-decoration: none;
}
