// Color palette
$green: #9ab6ac;
$light-brown: #d6cfc1;
$brown: #b89765;
$orange: #b78463;
$blue: #5f616c;
$dark-blue: #1d2c31;
$white: white;
$black: #222;

// Skeleton Colors
//$light-grey: #e1e1e1 !default;
//$dark-grey: #333 !default;
//$primary-color: #33c3f0 !default;
//$secondary-color: lighten($dark-grey, 13.5%) !default;
//$border-color: #bbb !default;
//$link-color: #1eaedb !default;
//$font-color: #222 !default;

// Typography
$font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$link-color: $orange;
