@import "vars";

@import "../../node_modules/skeleton-scss/scss/skeleton";

@import "base";

@import "parts/header";
@import "parts/triptych";
@import "parts/footer";


.maps-home {
  background-color: $green;

  .column {
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    font-family: $font-family-alternative;
  }
}
img.map {
  width: 100%;
}
