@import "vars";

@import "skeleton";

@import "base";

@import "parts/footer";
@import "parts/header";
@import "parts/main-nav";

article.page {
  background: $white;
  padding: 3rem 0;
}

.cover-full img {
  display: block;
  width: 100vw;
  height: 30rem;
  object-fit: cover;
}

@media (#{$bp-larger-than-tablet}) {
  body {
    background: $lightest-grey;
  }

  .cover-full img {
    height: 75rem;
  }

  article.page {
    padding: 3rem;
    margin-top: -9rem;

    &>h1 {
      margin-top: -1rem;
    }
  }
}

