include ../mixins/img-srcset

.contact-container
  .contact
    .contact-leader
      h1 In het kort
      hr
      p Een keertje langskomen, bakkie doen of meer weten?
    .map-container
      #contact-map
        noscript
          a(href="https://www.google.nl/maps/place/Kranenburgweg+204,+2583+ER+Den+Haag/@52.0957914,4.2606684,17z/data=!3m1!4b1!4m2!3m1!1s0x47c5b092fe85fe99:0x1384c908ba3f7c8d",target="_blank",rel="noopener noreferrer",title="Open kaart in Google Maps")
            +img-srcset('/assets/images/map-footer.jpg', '/assets/images/map-footer@2x.jpg 2x')(alt="")
    .info-box-container
      .info-box.service
        i
          include ../../static/assets/images/icon-time.svg
        p
          | Iedere zondag komen wij samen
          br
          | 10.30 uur&nbsp;
          a(href="https://www.google.nl/maps/place/Kranenburgweg+204,+2583+ER+Den+Haag/@52.0957914,4.2606684,17z/data=!3m1!4b1!4m2!3m1!1s0x47c5b092fe85fe99:0x1384c908ba3f7c8d",target="_blank",rel="noopener noreferrer",title="Open kaart in Google Maps")
            | Kranenburgweg 204
          br
          | in Scheveningen
      .info-box.events
        i
          include ../../static/assets/images/icon-cal.svg
        p
          | Kerk zijn we niet alleen op zondag. Zie onze&nbsp;
          a(id="agenda",href="#agenda-open") Agenda
          |  voor een overzicht.
      .info-box.contact-information
        i
          include ../../static/assets/images/icon-kids.svg
        p
          | Kinderen welkom!
          br
          | Voor elke leeftijdsgroep is er een eigen zondagprogramma
      .info-box.social-media
        i
          include ../../static/assets/images/icon-share.svg
        p
          | Actuele foto's en updates:
          br
          a(href="https://www.facebook.com/RealityScheveningen/",title="Reality Scheveningen Facebook pagina",target="_blank",class="facebook-logo",rel="noopener noreferrer")
            span.facebook
              include ../../static/assets/images/facebook.svg
