include ../mixins/img-srcset

.contact-container
  .contact
    .contact-leader
      h1 In het kort
      hr
      p Een keertje langskomen, bakkie doen of meer weten?
    .map-container
      #contact-map
        //- Disable live google maps, big pageload hit for not a whole lot of functionality
        //- noscript
          a(href="https://www.google.nl/maps/place/Kranenburgweg+203,+2583+ER+Den+Haag/@52.0957914,4.2606684,17z/data=!3m1!4b1!4m2!3m1!1s0x47c5b092fe85fe99:0x1384c908ba3f7c8d",target="_blank",rel="noopener noreferrer",title="Open kaart in Google Maps")
            +img-srcset('/assets/images/map-footer.jpg', '/assets/images/map-footer@2x.jpg 2x')(alt="")
        a(href="https://www.google.nl/maps/place/Kranenburgweg+203,+2583+ER+Den+Haag/@52.0957914,4.2606684,17z/data=!3m1!4b1!4m2!3m1!1s0x47c5b092fe85fe99:0x1384c908ba3f7c8d",target="_blank",rel="noopener noreferrer",title="Open kaart in Google Maps")
          +img-srcset('/assets/images/map-footer.jpg', '/assets/images/map-footer@2x.jpg 2x')(alt="")  
    .info-box-container
      .info-box.service
        i
          include ../../static/assets/images/icon-time.svg
        p
          | Regelmatig zondags
          br
          | 10.30 uur&nbsp;
          a(href="https://www.google.nl/maps/place/Rode+Kruislaan,+2565+HE+Den+Haag/@52.0803677,4.260659,17z/data=!3m1!4b1!4m5!3m4!1s0x47c5b0e67a3fd6b7:0xb9b14c36ec042ca7!8m2!3d52.0803677!4d4.2628477",target="_blank",rel="noopener noreferrer",title="Open kaart in Google Maps")
            | Rode Kruislaan
          br
          | (zie ook de agenda)
      .info-box.events
        i
          include ../../static/assets/images/icon-cal.svg
        p
          | Bekijk hier onze&nbsp;
          a(id="agenda",href="#agenda-open") Agenda
          |  voor meer details.
      .info-box.contact-information
        i
          include ../../static/assets/images/icon-contact.svg
        p
          | Nieuwsbrief ontvangen?
          br
          | Laat even van je horen via contact@realityscheveningen.nl
      .info-box.social-media
        i
          include ../../static/assets/images/icon-share.svg
        p
          | Actuele foto's en updates:
          br
          a(href="https://www.facebook.com/RealityScheveningen/",title="Reality Scheveningen Facebook pagina",target="_blank",class="facebook-logo",rel="noopener noreferrer")
            span.facebook
              include ../../static/assets/images/facebook.svg
