.copyright-container
  .copyright
    .copyright-logo
      img(src="/assets/images/logo-reality-icon.svg",width="40",height="40",alt="Reality Scheveningen")
    .copyright-information
      p
        small
          | © Copyright #{(new Date()).getFullYear()}, Reality Scheveningen
          br
          a(href="mailto:contact@realityscheveningen.nl") contact@realityscheveningen.nl
          |  |&nbsp;
          a(href="tel:+31645512204") 06 455 122 04
          |  | Harstenhoekstraat 29b, 2587 RE, Den Haag, Scheveningen |&nbsp;
          a(href="/anbi/") ANBI informatie
          |  |&nbsp;
          a(href="https://docs.google.com/document/d/1WDp75ENiaIAdOyqev9auFotCtCKrejqHeBbH7lA3atU/edit", target="_blank", rel="noopener noreferrer") Privacyverklaring
          br
          | Geven? Dat kan! NL03RABO0157061043 t.n.v. Reality Church
