include img-srcset

mixin cover-image(src)
  +img-srcset(
    imageSizeSelector(src, 320) || src,
    imageSizeSelector(src, 320, ' 320w'),
    imageSizeSelector(src, 640, ' 640w'),
    imageSizeSelector(src, 1000, ' 1000w'),
    imageSizeSelector(src, 2000, ' 2000w')
    )(sizes="100vw")&attributes(attributes)
