<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="google-site-verification" content="{{ .Site.Params.googleSiteVerification }}" />
    <title>{{ .Title }}{{ if not (eq .Url "/") }} | {{ .Site.Title }}{{ end }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="alternate" href="{{ .Site.Params.mainRss }}" title="{{ .Site.Title }}" type="application/rss+xml" />
    <link type="text/css" rel="stylesheet" media="all" href="/css/main.css" />
</head>

<body>

<div class="wrapper top">
    <div class="container">
        <a class="logo" href="/" title="{{ .Site.Title }}"><img src="/images/logo.png" alt="{{ .Site.Title }}" width="265" height="81" /></a>
    </div>
</div>

<div class="wrapper menu">
    {{ partial "menu.html" . }}
</div>
