doctype html
html(lang="nl")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible",content="ie=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    title Pagina niet gevonden! (404)
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,300",rel="stylesheet",type="text/css")
    style.
      @font-face {
        font-family: 'Archive';
        src: url('/assets/fonts/Archive.woff2') format('woff2'),
        url('/assets/fonts/Archive.woff') format('woff');
      }
      body {
        font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 300;
        color: #313131;
      }
      h1 {
        font-size: 3rem;
        font-family: "Archive", sans-serif;
        font-weight: 300;
      }
      h2 {
        font-size: 2rem;
        font-family: "Archive", sans-serif;
        font-weight: 300;
      }
      a {
        color: #b89765;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
        padding: 3rem;
      }
      .logo {
        display: inline-block;
        padding: 1.5rem 3rem;
        width: calc(100% - 6rem);
      }

  body
    .container
      h1 Zoekt en gij zult vinden... 
      h2 Maar niet hier
      a(href=baseUrl,class="logo")
        include ../static/assets/images/logo-reality-scheveningen.svg
      p
        | Deze pagina bestaat niet (meer). We helpen je graag weer op weg. Naar de 
        a(href=baseUrl) homepage
        |  bijvoorbeeld. Of laat je 
        a(href="/doe-maar-iets",onclick="var baseUrl='" + baseUrl + "'; var routes=['/stories','/activiteiten','/over-ons']; window.location=baseUrl+routes[Math.floor(Math.random() * routes.length)]; return false;") verrassen
        | .

    //script.
    //  window.ga = function() {
    //    ga.q.push(arguments)
    //  };ga.q = [];ga.l = +new Date;
    //  ga('create', '!{gaTrackingCode}', 'auto');ga('send', 'pageview')

    //script(src="https://www.google-analytics.com/analytics.js",async,defer)

    script
      include ../static/assets/js/console-teaser.js
