extends layout

block content
  if heroImage && heroImage.file.url
    .cover-full
      img(src=heroImage.file.url,class="u-full-width")
  .container.squeezed
    .row
      article.column
        | !{md(body)}
