extends layout

include mixins/triptych-image

block styles
  link(rel="stylesheet",href="/assets/styles/home.css")

block nav

block content
  .triptych
    each tych in triptych
      a(href="/" + tych.link.path + "/",class=tych.link.path)
        .article-container
          article
            div
              h2= tych.title
              hr
              p= tych.summary
        .image-container
          +triptych-image(tych.image.file.url)(alt="")

block footer
  footer
    include footer/contact
    include footer/copyright

//- Disable live google maps, big pageload hit for not a whole lot of functionality
//- block scripts-extra
//-  script(src="https://maps.googleapis.com/maps/api/js?key=" + googleMapsApiKey + "&callback=initMap",async,defer)
