extends layout

block styles
  link(rel="stylesheet",href="/assets/styles/home.css")

block nav

block content
  .triptych
    each tych in triptych
      a(href="/" + tych.link.path,class=tych.link.path)
        div(class="article-container",style="background-image: url('"+tych.image.file.url+"')")
          article
            div
              h2= tych.title
              hr
              p= tych.summary

block footer
  footer
    include footer/contact
    include footer/copyright
