extends layout

block content
  .container
      .row.drieluik
        each tych in triptych
          article.column.one-third
            a(href="/" + tych.link.path)
              h5= tych.title
              p= tych.summary
              img(src=tych.image.file.url,width="330",height="600")
