extends layout

block styles
  link(rel="stylesheet",href="/assets/styles/home.css")

block header
  header.home
    .container
      .row
        .column
          h1
            a(href="/")
              img(src="/assets/images/logo.jpg",width="260",height="61",alt="Reality Scheveningen")

block content
  .container.triptych
    .row
      each tych in triptych
        article.one-third.column
          a(href="/" + tych.link.path)
            img(src=tych.image.file.url)
            div
              h2= tych.title
              p= tych.summary

