extends layout

block styles
  link(rel="stylesheet",href="/assets/styles/home.css")

header
  .container
    .row
      .column
        h1
          a(href="/")
            img(src="/assets/images/logo.jpg",width="260",height="61",alt="Reality Scheveningen")

block content
  .container
      .row.drieluik
        each tych in triptych
          article.column.one-third
            a(href="/" + tych.link.path)
              h2= tych.title
              p= tych.summary
              img(src=tych.image.file.url,width="330",height="600")
