extends layout

block styles
  link(rel="stylesheet",href="/assets/styles/home.css")

block content
  .container
      .row.drieluik
        each tych in triptych
          article.column.one-third
            a(href="/" + tych.link.path)
              h2= tych.title
              p= tych.summary
              img(src=tych.image.file.url,width="330",height="600")
