extends layout

block styles
  link(rel="stylesheet",href="/assets/styles/home.css")

block content
  .container.triptych
    .row
      each tych in triptych
        article.one-third.column
          a(href="/" + tych.link.path)
            img(src=tych.image.file.url)
            div
              h2= tych.title
              hr
              p= tych.summary
