doctype html
html(lang="nl")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible",content="ie=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    meta(name="robots",content="noindex")
    title Whoopsie! Kon geen verbinding maken met het internet
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,300",rel="stylesheet",type="text/css")
    style.
      @font-face {
        font-family: 'Archive';
        src: url('/assets/fonts/Archive.woff2') format('woff2'),
        url('/assets/fonts/Archive.woff') format('woff');
      }
      body {
        font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 300;
        color: #313131;
      }
      h1 {
        font-size: 3rem;
        font-family: "Archive", sans-serif;
        font-weight: 300;
      }
      a {
        color: #b89765;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
        padding: 3rem;
      }
      .logo {
        display: inline-block;
        padding: 1.5rem 3rem;
        width: calc(100% - 6rem);
      }

  body
    .container
      h1 Whoopsie! Kon geen verbinding maken met het internet
      p We hopen dat je snel weer verbinding hebt, maar om je toch een beetje te helpen, hier wat nuttige informatie:
      p Iedere zondag komen wij samen om 10.30 uur aan de Kranenburgweg 203 (blauwe loods, ingang terrein bij Zuiderstrandtheater) in Scheveningen
      p
        | Contact opnemen? 
        br
        | Mail ons 
        a(href="contact@realityscheveningen.nl") contact@realityscheveningen.nl
        | &nbsp;of bel ons 
        a(href="tel:+31645512204") 06 455 122 04
      p Wil je iets geven? Dat mag! Onze rekening is NL03RABO0157061043 t.n.v. Reality Church

      a(href=baseUrl, class="logo")
        include ../static/assets/images/logo-reality-scheveningen.svg

    script
      include ../static/assets/js/console-teaser.js
