body.over-ons {
  .cover-full {
    background: linear-gradient(to bottom, rgba(155, 181, 172, .2) 50%, rgba(49, 49, 49, 1) 100%);
  }

  article {
    a {
      color: $green;
    }

    header hr {
      background-color: $green;
    }

    .body-text {
      background: $green;
      color: $white;
      -webkit-font-smoothing: antialiased;

      a, h1, h2, h3 {
        color: $white;
      }
    }

    #love-god-love-people {
      background: transparent svg-load('../images/icon-heart.svg') no-repeat left top;
    }

    #advance-his-kingdom {
      background: transparent svg-load('../images/icon-kingdom.svg') no-repeat left top;
    }

    #live-life {
      background: transparent svg-load('../images/icon-life.svg') no-repeat left top;
    }

    #love-god-love-people, #advance-his-kingdom, #live-life {
      box-sizing: border-box;
      padding-left: 5.5rem;
      background-size: 3.5rem 3.5rem;
    }
  }
}

@media (#{$bp-larger-than-tablet}) {
  body.over-ons article {
    .intro-text .text-container {
      column-count: 3;
    }

    .body-text {
      column-count: 2;
    }

    #love-god-love-people {
      width: calc(100% - 2rem);
      background-position: left 2rem;
    }

    #advance-his-kingdom {
      background-position: left 2rem;
    }

    #live-life {
      width: 3rem;
      background-position: left 2rem;
    }
  }
}
