.cover-full {
  position: relative;
  background: linear-gradient(to bottom, rgba(49, 49, 49, 0) 50%, rgba(49, 49, 49, 1) 100%);

  img {
    display: block;
    width: 100vw;
    height: 30rem;
    object-fit: cover;
    position: relative;
    z-index: $z-index-image-behind-background;
  }
}

.page-container {
  padding: 0 1rem;
  background: $darker-grey;
  margin-bottom: 9rem;
}

article {
  font-size: 1.5rem;
  font-weight: 300;

  .intro-text, .body-text, .footer-text {
    padding: 2rem 1.5rem;
    background-color: $white;
  }

  .body-text {
    margin-top: 3rem;
  }

  .body-image {
    margin: 3rem 1.5rem;

    img {
      max-width: 100%;
    }
  }

  .footer-text {
    margin-top: 3rem;
    background: $light-black;
    color: $grey;
    @include font-smoothing(on);

    h1, h2, h3 {
      color: $white;
    }
  }

  header {
    box-sizing: border-box;
    color: $white;
    text-align: center;

    hr {
      display: block;
      width: 4.5rem;
      margin: -1rem auto 1.5rem auto;
      border: none;
      height: 2px;
      background-color: $yellow;
    }

    h1 {
      color: $white;
      font-size: 3.75rem;
      line-height: 1.25;
    }

    .subtitle {
      margin: 0 1.5rem 3rem 1.5rem;
    }
  }

  .content {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    max-width: 120rem;
  }
}

@media (#{$bp-larger-than-tablet}) {
  .cover-full img {
    height: 75rem;
  }

  .page-container {
    padding: 0;
    background: none;
    margin-bottom: 0;
  }

  article {
    margin-bottom: 9rem;
    background: none;

    .intro-text, .body-text, .footer-text, header {
      margin: 0 1.5rem;
      padding: 0;
    }

    header {
      top: 42rem;
      position: absolute;
      width: 100%;
      background: none;
      margin: 0;
      @include font-smoothing(on);

      & > * {
        max-width: 120rem;
        margin: 0 auto;
      }

      h1 {
        font-size: 6rem;
        font-weight: normal;
        letter-spacing: .2rem;
        margin-bottom: 0.75rem;
        line-height: 1.2;
      }

      hr {
        margin: 0 auto 3rem auto;
      }

      .subtitle {
        margin: 0 auto;
        width: 80%;
        max-width: 72rem;
        font-size: 1.6rem;
      }
    }

    .content {
      h1, h2 {
        font-size: 3.75rem;
      }

      h1, h2, h3, h4, h5, h6 {
        break-inside: avoid;
      }
    }

    .intro-text .text-container, .body-text, .footer-text  {
      padding: 4.5rem;
      column-gap: 6rem;
    }

    .intro-text {
      background: transparent svg-load('../images/triangle-intro-text.svg') no-repeat center 0;
      background-size: 20px 10px;
      padding-top: 1rem;

      h1, h2, h3 {
        color: $darker-grey;
      }

      .text-container {
        background: $white;
        column-count: 1;
      }
    }

    .body-text {
      margin-top: 3rem;
      background: $white;
      column-count: 2;

      h1, h2 {
        column-span: all;
      }
    }

    .footer-text {
      margin-top: 3rem;
      column-count: 2;

      h1, h2 {
        column-span: all;
      }
    }
  }

  article .content {
    margin-top: -9rem;
    position: relative;
  }
}

@media (#{$bp-larger-than-desktophd-plus}) {
  article .body-image {
    width: 110%;
    margin-left: -5%;
  }
}
