footer {
  background-color: $dark-grey;
  color: $white;

  .container {
    text-align: center;
  }

  .row {
    color: $white;
    font-size: 1.5rem;
    font-family: $font-family-alternative;
  }

  .columns {
    text-align: left;
  }

  .logos {
    margin-top: 6rem;
  }

  h1 {
    margin-bottom: 3rem;
    font-size: 3.6rem
  }

  .facebook-logo svg {
    width: 160px;
    path {
      fill: $blue;
    }
  }

  .copyright {
    padding-top: 1.5rem;
    background-image: linear-gradient($black, $dark-blue);

    a {
      color: $white;
    }
  }

  .contact {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  img.map {
    width: 100%;
  }

  // css triangle https://css-tricks.com/snippets/css/css-triangle/
  .arrow-up {
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid $black;
    margin: -2.5rem auto 2.5rem auto;
  }
}
