footer {
  color: $white;
  font-size: 1.5rem;
  text-align: center;
  -webkit-font-smoothing: antialiased;

  .copyright-container {
    padding: 3rem 3rem 0 3rem;
    background-image: svg-load('../images/triangle-footer.svg'), linear-gradient($black, $black);
    background-repeat: no-repeat, no-repeat;
    background-position: center 0, left 10px;
    background-size: 20px 10px, 100% 100%;
    position: relative;
    z-index: 2;
    font-weight: 400;

    .copyright-information {
      overflow: hidden;
    }

    a {
      color: $white;
    }
  }
}
