footer {
  color: $white;
  font-size: 1.5rem;
  font-family: $font-family-alternative;
  text-align: center;
  -webkit-font-smoothing: antialiased;

  .copyright {
    padding-top: 3rem;
    background-image: svg-load('../images/triangle-footer.svg'), linear-gradient($black, $black);
    background-repeat: no-repeat, no-repeat;
    background-position: center 0, left 10px;
    background-size: 20px 10px, 100% 100%;
    position: relative;
    z-index: 2;

    a {
      color: $white;
    }
  }

  .contact {
    padding: 6rem 1rem;
    margin-bottom: -1rem;
    background: $darker-grey;

    h1 {
      font-family: $font-family-alternative-to;
      text-align: center;
      margin-bottom: 1.5rem;
      font-size: 3.2rem;
      letter-spacing: .2rem;
    }

    hr {
      margin: 1rem auto;
      border: none;
      width: 3rem;
      height: 2px;
      background-color: $orange;
    }

    p {
      text-align: center;
      font-weight: 300;
    }

    .contact-leader {
      margin: 0 3rem 6rem 3rem;
    }

    .map-container {
      #contact-map {
        width: 100%;
        height: 33rem;
      }
      img {
        width: 100%;
      }
    }

    .info-box-container {
      display: flex;
      flex-flow: row wrap;
      position: relative;
      z-index: 1;
    }

    .info-box {
      box-sizing: border-box;
      flex: 1 100%;
      padding: 3rem 3rem 1.5rem 3rem;

      i {
        margin-top: -1rem;
        margin-bottom: 1rem;
        display: inline-block;

        svg {
          width: 3rem;
          height: 3rem;
        }
      }

      p {
        font-size: 1.4rem;
        margin-bottom: 0;
        font-weight: 400;
      }

      a {
        color: white;
      }

      &.service {
        background-color: $green;
        background-image: linear-gradient(to bottom left, $green, darken($green, 10%));
      }

      &.events {
        background-color: $blue;
        background-image: linear-gradient(to bottom left, $blue, darken($blue, 10%));
      }

      &.contact-information {
        background-color: $brown;
        background-image: linear-gradient(to bottom left, $brown, darken($brown, 10%));
      }

      &.social-media {
        background-color: $orange;
        background-image: linear-gradient(to bottom left, $orange, darken($orange, 10%));
        .facebook svg {
          height: 6rem;
          path {
            fill: $white;
          }
        }
      }
    }
  }
}

#agenda-open {
  display: none;

  &:target {
    position: fixed;
    top: 0;
    left: 0;
    background: $white;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 3rem 0;
    z-index: 20;
    display: block;
  }

  a {
    position: absolute;
    right: 3rem;
    top: 3rem;
    padding-left: 1.5rem;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.9);
  }

  h1 {
    margin-top: -1.5rem;
    margin-left: 3rem;
  }
}

@media (#{$bp-larger-than-tablet}) {
  footer .contact {
    padding: 6rem 2rem;

    .info-box {
      flex: 1 50%;
    }
  }

  #agenda-open {
    &:target {
      padding: 3rem;
    }

    h1 {
      margin-left: 0;
    }
  }
}

@media (#{$bp-larger-than-desktop}) {
  footer .contact-container {
    background-image: url('../images/bg-footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .contact {
      background: none;
      max-width: 96rem;
      margin: 0 auto;
      overflow: hidden;
      padding-bottom: 6rem;

      .contact-leader {
        margin-bottom: 0;
      }
    }

    .contact-leader, .info-box-container {
      width: 56.66667%;
      margin-left: 44.33334%;
    }

    .map-container {
      width: 46%;
      max-width: 57rem;
      position: absolute;
      right: calc(50% + 4rem);
      top: 6rem;
    }
  }
}

@media (#{$bp-larger-than-desktophd}) {
  footer .contact-container {

    .contact {
      max-width: 120rem;
    }

    .map-container {
      max-width: 63rem;
    }
  }
}
