header {
  position: absolute;
  width: 100%;
  z-index: 10;

  .column {
    width: 100%;
  }
  .row {
    text-align: center;
  }

  a {
    padding-top: 1rem;
    position: relative;
    display: inline-block;
    height: 0;
    width: 480px;
    text-align: center;
    background: $white;
    line-height: 50px;
    text-decoration: none;
    padding-bottom: 220px; // 23%
    background-clip: content-box;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: inherit;
      padding-bottom: 59%;
      width: 80%;
      z-index: -1;
      transform-origin: 0 0;
      transform: rotate(-18deg) skewX(30deg) skewY(-20deg);
    }
  }
}
