body>header {
  background: $white;

  .title-logo {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
  }
}

@media (#{$bp-larger-than-tablet}) {
  body>header {
    position: absolute;
    width: 100%;
    background: none;
    display: flex;
    flex-direction: column-reverse;
    z-index: $z-index-header;

    .title-logo {
      position: relative;
      padding: 0;

      a {
        padding-top: 1rem;
        display: inline-block;
        height: 19rem;
        width: 52rem;
        text-align: center;
        background: svg-load('../images/triangle.svg') no-repeat top left;
        background-size: 100% 100%;
        text-decoration: none;
        overflow: hidden;
      }
    }
  }
}
