header {
  position: absolute;
  width: 100%;
  z-index: 10;

  .column {
    width: 100%;
  }
  .row {
    text-align: center;
  }

  a {
    padding-top: 1rem;
    display: inline-block;
    height: 200px;
    width: 480px;
    text-align: center;
    background: url('/assets/images/triangle.svg') no-repeat top left;
    background-size: contain;
    text-decoration: none;
    overflow: hidden;
  }
}
