.main-nav {
  box-sizing: border-box;
  overflow: hidden;
  background: $darker-grey;
  color: $white;
  text-align: center;
  @include font-smoothing(on);

  .home-shortcut {
    display: none;
  }

  nav {
    padding: 0;

    a, span {
      font-family: $font-family-alternative;
      text-decoration: none;
      font-size: 1.3rem;
      letter-spacing: 0.15rem;
      display: inline-block;
      margin: 0 .9rem;
      line-height: 4.5rem;
      vertical-align: middle;
      box-sizing: border-box;
      position: relative;
    }

    a {
      color: $grey;

      .no-touch &:hover {
        color: $white;
      }
    }

    .no-touch & a:hover, span {
      &:after {
        content: "";
        position: absolute;
        bottom: .5rem;
        left: 37.5%;
        width: 25%;
        height: 2px;
      }

      &.activiteiten:after {
        background: $orange;
      }
      &.over-ons:after {
        background: $green;
      }
      &.stories:after {
        background: $blue;
      }
    }
  }
}

@media (#{$bp-larger-than-phablet}) {
  .main-nav nav {
    a, span {
      margin: 0 1.5rem;
      font-size: 1.5rem;
    }
  }
}

@media (#{$bp-larger-than-tablet}) {
  .main-nav {
    text-align: right;
    position: relative;

    .home-shortcut {
      position: absolute;
      display: block;
      fill: white;
      width: 3rem;
      height: 3rem;
      left: 0;
      margin: .75rem;
    }
  }
}

@media (#{$bp-larger-than-desktophd}) {
  .main-nav {
    background: none;
    position: absolute;
    width: 100%;
    top: 0;

    nav a{
      color: transparentize($white, 0.4);
    }
  }
}
