.main-nav {
  overflow: hidden;
  background: $lightest-grey;
  a, div {
    font-family: $font-family-alternative-to;
    text-align: center;
    text-decoration: none;
    display: block;
  }
}

@media (#{$bp-larger-than-phablet}) {
  .main-nav {
    a, div {
      width: 33.33334%;
      float: left;
    }
  }
}
