body.stories {
  .cover-full {
    background: linear-gradient(to bottom, transparentize($blue, .4) 50%, transparentize($darker-grey, 0) 100%);
  }

  article {
    header hr {
      background-color: $blue;
    }
  }
}

.story-list {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.story-item {
  background: $white;
  box-sizing: border-box;

  .nice {
    height: 1rem;
    width: 100%;
    @include holy-gradient();
  }

  article {
    margin: 0;
  }

  .image-container {
    height: 30rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    background: $blue;

    img {
      object-fit: cover;
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  .info {
    color: $grey;
    background-color: $lighter-grey;
    box-sizing: border-box;
    padding: .5rem 1.5rem;
    font-family: $font-family-alternative;
    position: relative;
    overflow: hidden;

    time {
      float: left;
    }

    .reading-time {
      float: right;
    }
  }

  .article-content {
    box-sizing: border-box;
    padding: 2rem 1.5rem;
    background: svg-load('../images/triangle-down-lighter-grey.svg') no-repeat top center;
    background-size: 2rem 1rem;

    h1 {
      margin-bottom: 0;
      @include heading-3;
    }
  }

  .heading-info {
    color: $blue;
    font-weight: bold;
    margin-top: -0.2rem;
    margin-bottom: 1.5rem;

    .category {
      display: inline-block;
      &::first-letter {
        text-transform: uppercase;
      }
    }
  }

  .cta {
    padding-bottom: 1.5rem;
    margin-right: 1.5rem;
    text-align: right;
    font-size: 1.6rem;

    a {
      padding: .7rem 3rem;
      color: $dark-grey;
      text-decoration: none;
      border: 2px solid $blue;
      border-radius: 2rem;
      display: inline-block;
      font-family: $font-family-alternative;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $blue;
        color: $white;
      }

    }
  }
}


@media (#{$bp-larger-than-tablet}) {
  .story-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .story-item {
    margin: 0 3rem 3rem 3rem;
    padding-bottom: 3rem;
    width: calc(50% - 4.5rem);
    position: relative;

    &:nth-child(odd) {
      margin-right: 0;
      clear: both;
    }

    .info {
      padding: .5rem 3rem;
    }

    .article-content {
      padding: 2rem 3rem 6rem 3rem;
    }

    .image-container {
      img {
        transition: transform 3s ease-in-out;
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        width: inherit;
        height: inherit;
        background: $blue;
        opacity: 0.5;
        transition: opacity .3s ease-in-out;
      }
    }

    &:hover .image-container {
      img {
        transform: scale(1.1);
      }

      &:after {
        opacity: 0;
      }
    }

    .cta {
      position: absolute;
      bottom: 0;
      right: 0;
      padding-bottom: 3rem;
      margin-right: 3rem;
    }
  }
}
