body.stories {
  .cover-full {
    background: linear-gradient(to bottom, rgba(95, 97, 107, .6) 50%, rgba(49, 49, 49, 1) 100%);
  }

  article {
    header hr {
      background-color: $blue;
    }
  }
}

.story-list {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.story-item {
  background: $white;
  box-sizing: border-box;

  .nice {
    height: 1rem;
    width: 100%;
    background: linear-gradient(to right, #1d2c31 0%, #5f616b 25%, #b78463 50%, #b89765 75%, #9ab5ac 100%);
  }

  article {
    margin: 0;
  }

  .image-container {
    height: 30rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    background: $blue;

    img {
      object-fit: cover;
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  .info {
    color: $grey;
    background-color: $lighter-grey;
    box-sizing: border-box;
    padding: .5rem 1.5rem;
    font-family: $font-family-alternative;
    position: relative;
    overflow: hidden;

    time {
      float: left;
    }

    .reading-time {
      float: right;
    }
  }

  .article-content {
    box-sizing: border-box;
    padding: 2rem 1.5rem;
    background: svg-load('../images/triangle-down-lighter-grey.svg') no-repeat top center;
    background-size: 2rem 1rem;

    h1 {
      margin-bottom: 0;
      font-size: 2.5rem;
      line-height: 1.15;
    }
  }

  .author {
    color: $blue;
    font-weight: bold;
    margin-top: -0.2rem;
    margin-bottom: 1.5rem;
  }

  .cta {
    margin-top: 3rem;
    text-align: right;
    font-size: 1.6rem;

    a {
      padding: .7rem 3rem;
      color: $dark-grey;
      text-decoration: none;
      border: 2px solid $blue;
      border-radius: 2rem;
      display: inline-block;
      font-family: $font-family-alternative;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $blue;
        color: $white;
      }

    }
  }
}


@media (#{$bp-larger-than-tablet}) {
  .story-item {
    float: left;
    margin: 0 3rem 3rem 3rem;
    width: calc(50% - 4.5rem);

    &:nth-child(odd) {
      margin-right: 0;
      clear: both;
    }

    .info {
      padding: .5rem 3rem;
    }

    .article-content {
      padding: 2rem 3rem 3rem 3rem;

      h1 {
        font-size: 3rem;
        line-height: 1.2;
      }
    }

    .image-container {
      img {
        //filter: grayscale(100%);
        transition: transform 3s ease-in-out;
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        width: inherit;
        height: inherit;
        background: $blue;
        opacity: 0.5;
      }
    }

    &:hover .image-container {
      img {
        //filter: grayscale(0);
        transform: scale(1.1);
      }

      &:after {
        opacity: 0;
      }
    }

    .summary-text {
      height: 20rem;
      overflow: hidden;
    }
  }
}
