article.story {
  header {
    display: none;
  }

  .nice {
    height: 1rem;
    width: 100%;
    @include holy-gradient();
  }

  .info {
    color: $grey;
    background-color: $lighter-grey;
    box-sizing: border-box;
    padding: .5rem 1.5rem;
    font-family: $font-family-alternative;
    position: relative;
    overflow: hidden;

    time {
      float: left;
    }

    .reading-time {
      float: right;
    }
  }

  .author {
    font-weight: bold;
    margin-top: -0.2rem;
    margin-bottom: 1.5rem;
    color: $blue;
  }

  .body-text {
    color: $darker-grey;
    background: $white svg-load('../images/triangle-down-lighter-grey.svg') no-repeat top center;
    background-size: 2rem 1rem;
    margin-top: 0;

    h1:first-of-type {
      margin-bottom: 0;
    }

    blockquote {
      font-style: italic;
      font-size: 2rem;
      color: $grey;

      p {
        &:before {
          content: '“';
        }

        &:after {
          content: '“';
        }
      }
    }

    img {
      max-width: 100%;
      display: block;
      box-sizing: border-box;

      & + em {
        font-size: 1.3rem;
        text-align: center;
        display: block;
        box-sizing: border-box;
      }
    }
  }

  .content {
    max-width: 90rem;
  }
}


@media (#{$bp-larger-than-tablet}) {
  article.story {
    header {
      display: block;

      .story-title {
        font-family: $font-family-alternative;
        font-size: 3rem;
        line-height: 1.2;
        margin-bottom: 1rem;

        a {
          text-decoration: none;
          color: $white;
        }
      }
    }

    .nice {
      width: calc(100% - 3rem);
      margin: 0 1.5rem;
    }

    .info {
      margin: 0 1.5rem;
      padding: 1rem 4.5rem;
    }

    .body-text {
      column-count: 1;

      img {
        padding: 0 3rem;

        & + em {
          padding: 0 3rem;
        }
      }
    }
  }
}
