.triptych.container {
  max-width: inherit;
  width: 100% !important;
}

.triptych .column > a {
  position: relative;
  display: block;
  text-decoration: none;
  background-color: $black;
  transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease;

  &:hover {
    color: white;
    img {
      -webkit-filter: #{"opacity(.5)"} #{"sepia(.5)"};
      filter: #{"opacity(.5)"} #{"sepia(.5)"};
    }
  }

  div {
    padding: 3rem 9rem;
    position: absolute;
    left: 0;
    top: 34%;
    text-align: center;
    box-sizing: border-box;
    color: $light-brown;
  }

  h2 {
    font-family: $font-family-alternative-to;
    font-weight: normal;
    font-size: 3rem;
    margin-bottom: 0;
    letter-spacing: .2rem;
  }

  hr {
    margin: 1rem 45%;
    border-color: $orange;
  }

  p {
    font-family: $font-family-alternative;
    font-size: 1.5rem;
    font-weight: 300;
  }

  img {
    width: 100%;
    -webkit-filter: #{"opacity(.3)"} #{"sepia(1)"};
    filter: #{"opacity(.3)"} #{"sepia(1)"};
    -webkit-transition: -webkit-filter 0.5s ease;
    transition: filter 0.5s ease;
  }
}

@media (#{$bp-larger-than-phablet}) {
  .triptych .one-third.column {
    margin-left: 0;
    width: 33.33334%;
  }
}
