.triptych {
  overflow: hidden;
  a {
    display: block;
    text-decoration: none;
    color: $white;

    article {
      box-sizing: border-box;
      padding: 15%;
      text-align: center;
    }

    h2 {
      font-family: $font-family-alternative-to;
      font-weight: normal;
      font-size: 3rem;
      margin-bottom: 0;
      letter-spacing: .2rem;
    }

    hr {
      margin: 1rem 45%;
      border-color: $orange;
    }

    p {
      font-family: $font-family-alternative;
      font-size: 1.5rem;
      font-weight: 300;
    }
  }
}

@media (#{$bp-larger-than-tablet}) {
  .triptych > a {
    float: left;
    width: 33.333334%;

    background: $white no-repeat center center;
    background-size: cover;

    min-height: 100vh;

    article {
      padding-top: 27rem;

      background: linear-gradient(to bottom, rgba(183, 132, 99, 0.5) 0%, rgba(183, 132, 99, 0.1) 50%, rgba(29, 44, 49, .8) 100%);
      min-height: inherit;
    }

    &:hover article {
      background: none;
    }
  }
}
