.triptych {
  overflow: hidden;
  @include font-smoothing(on);

  a {
    display: block;
    text-decoration: none;
    color: $white;
    position: relative;
    overflow: hidden;

    article {
      box-sizing: border-box;
      padding: 15%;
      text-align: center;
    }

    .image-container {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 3s ease-in-out;
      }
    }

    &:hover {
      .image-container img {
        transform: scale(1.1);
      }
    }

    h2 {
      color: $white;
      font-weight: normal;
      font-size: 3.2rem;
      margin-bottom: 0;
      letter-spacing: .2rem;
    }

    hr {
      margin: 1rem auto;
      width: 3rem;
      border: none;
      height: 2px;
      text-align: center;
    }

    &.activiteiten {
      hr {
        background-color: $orange;
      }
      article {
        background: linear-gradient(to bottom, rgba(182, 131, 101, .6) 0%, rgba(29, 44, 49, .6) 100%);
      }
    }

    &.over-ons {
      hr {
        background-color: $green;
      }
      article {
        background: linear-gradient(to bottom, rgba(155, 181, 172, .6) 0%, rgba(29, 44, 49, .6) 100%);
      }
    }

    &.stories {
      hr {
        background-color: $blue;
      }
      article {
        background: linear-gradient(to bottom, rgba(95, 97, 107, .6) 0%, rgba(29, 44, 49, .6) 100%);
      }
    }

    p {
      font-size: 1.6rem;
      font-weight: 300;
    }
  }
}

@media (#{$bp-larger-than-tablet}) {
  .triptych > a {
    float: left;
    width: 33.333334%;
    height: 100vh;
    min-height: 72rem;
    max-height: 120rem;

    .article-container {
      height: inherit;
      min-height: inherit;
      max-height: inherit;
    }

    article {
      height: inherit;
      min-height: inherit;
      max-height: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
